@use '../../styles/settings/gutters';

.section {
    margin-bottom: 185px;

    .btnsLine {
        display: flex;
        align-items: center;

        a {
            margin-right: gutters.$gutter-big;
        }
    }
}

.wrapper {
    margin-bottom: gutters.$gutter * 2;
    display: flex;

    .main {
        flex: 0 1 736px;
        margin-right: gutters.$gutter * 2;
    }

    .column {
        flex: auto;
        display: flex;
        flex-direction: column;
    }
}