@use '../../styles/settings/fonts';
@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';

.button {
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.primary {
    background: linear-gradient(90.1deg, #0136F8 0.08%, #14A5FF 99.21%);
    box-shadow: 0px 4px 8px rgba(20, 165, 255, 0.24);
    border-radius: 4px;
    padding: gutters.$gutter;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: colors.$color-white;
    font-size: 14px;
    font-weight: 400;
    font-family: fonts.$font-buttons;
    line-height: 1.15;
  }

  &.clean {
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    font-family: fonts.$font-buttons;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: colors.$color-primary;
    text-transform: uppercase;
    text-shadow: 0 4px 9px rgba(0, 23, 115, 0.2);
  }

  .arrow {
    margin-left: gutters.$gutter-small;
  }
}
