@use '../../styles/settings/gutters';
@use '../../styles/settings/media';

.columns {
    display: flex;
    flex-direction: column;
    margin-left: -(gutters.$gutter);
    margin-right: -(gutters.$gutter);

    @include media.bp(sm) {
        flex-direction: row;
    }

    > * {
        flex: 1 0 auto;
        max-width: 100%;
        padding: 0 gutters.$gutter;

        @include media.bp(sm) {
            max-width: 50%;
        }
    }

    &.flexSizes12 {        
        > :first-child {
            flex: 1 0 auto;

            @include media.bp(sm) {
                max-width: 33.3333%;
            }
        }

        > * {
            flex: 2 0 auto;

            @include media.bp(sm) {
                max-width: 66.6666%;
            }
        }
    }

    &.flexSizes23 {        
        > :first-child {
            flex: 2 0 auto;

            @include media.bp(sm) {
                max-width: 40%;
            }
        }

        > * {
            flex: 3 0 auto;
            
            @include media.bp(sm) {
                max-width: 60%;
            }
        }
    }
}