@use '../../styles/settings/gutters';

.lastBooks {
    display: flex;
    margin-left: -(gutters.$gutter);
    margin-right: -(gutters.$gutter);

    > * {
        margin-left: gutters.$gutter;
        margin-right: gutters.$gutter;
        flex: 1;
        max-width: calc(25% - 32px);
    }
}