@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';
@use '../../styles/settings/fonts';
@use '../../styles/settings/media';

.recommendedThree {
    margin-bottom: gutters.$gutter-biggest;

    .title {
        font-size: 24px;
        font-family: fonts.$font-headline;
        color: colors.$color-primary;
        line-height: 1.25;
        letter-spacing: -0.01em;
        margin: 0 0 gutters.$gutter-medium;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-left: -(gutters.$gutter);
        margin-right: -(gutters.$gutter);

        @include media.bp(md) {
            flex-direction: row;
        }
    }
}