@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';

.hero {
    .title {
        text-transform: initial;
        margin-top: gutters.$gutter-big;
        margin-bottom: gutters.$gutter;
        max-width: 55%;
    }
}