@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';

.lastArticlesWrapper {
    margin-bottom: gutters.$gutter * 8;
    position: relative;
}

.lastArticlesSection {
    border-bottom: 4px solid colors.$color-border;
    margin-bottom: gutters.$gutter + gutters.$gutter-medium;
    position: relative;

    &::after {
        content: "";
        height: 4px;
        width: 270px;
        position: absolute;
        display: block;
        background: colors.$color-border-darker;
        border-radius: 4px;
    }
}

.lastArticles {
    display: flex;
    margin-left: -(gutters.$gutter);
    margin-right: -(gutters.$gutter);
    padding-bottom: gutters.$gutter-medium + gutters.$gutter;
    position: relative;
    transition: 700ms;
}

.btnsLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sliderBtns {
    display: flex;
}

.previous {
    transform: scaleX(-1);
    margin-right: gutters.$gutter-small;
}

.inactive {
    pointer-events: none;
    opacity: 0.5;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.inactivePreview {
    animation: hide 700ms 300ms forwards;
}