@use './settings/gutters';

.blogList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: gutters.$gutter;
    
    > article {
        margin-bottom: gutters.$gutter-big;
    }
}

.loadMoreBox {
    margin-bottom: gutters.$gutter-bigger;
    display: flex;
    justify-content: center;
}

.lastArticle {
    margin-bottom: gutters.$gutter-medium;
}
