@use './settings/gutters';
@use './settings/media';

.MetaData {
  display: flex;
  gap: gutters.$gutter;
  flex-wrap: wrap;
  min-width: 100%;
  flex: 1 0 auto;

  @include media.bp(md) {
    flex-direction: column;
    min-width: 450px;
    gap: 0;
  }

  > * {
    min-width: 100%;

    @include media.bp(lg) {
      min-width: auto;
    }

    &:not(:last-child) {
      margin-bottom: gutters.$gutter;
    }
  }
}
