@use '../../styles/settings/global';
@use '../../styles/settings/fonts';
@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';
@use '../../styles/settings/media';

.wrapper {
  h2 {
    font-size: 30px; 
    color: colors.$color-primary;
    font-weight: 700;
    font-family: fonts.$font-headline;
    margin: 0 0 gutters.$gutter;
    line-height: 1.2;

    &.capitalize {
      text-transform: capitalize;
    }

    @include media.bp(sm) {
      font-size: 40px;
    }

    strong {
      color: rgb(43, 116, 243);
      background: -webkit-linear-gradient(180deg, #3482ef, #1f62f2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
