@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';
@use '../../styles/settings/media';

.sources {
    margin-top: gutters.$gutter-big;
    margin-right: 0;
    margin-left: 0;
    padding: (gutters.$gutter * 2);
    border: 1px solid colors.$color-primary-300;
    border-radius: 8px;
    width: 100%;

    @include media.bp(md) {
        margin-right: -(gutters.$gutter * 2);
        margin-left: -(gutters.$gutter * 2);
        width: calc(100% + gutters.$gutter-bigger);
    }

    .title {
        margin: 0 0 gutters.$gutter-small;
        font-size: 24px;
    }

    ul {
        margin: 0;
    }

    li {
        font-size: 22px;
        letter-spacing: -0.01em;
        line-height: 1.4;
    
        &::marker {
            font-size: 16px;
        }

        &:last-child {
            p {
                margin-bottom: 0;
            }
        }
    }

    > p {
        display: none;
    }
}
