@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';
@use '../../styles/settings/fonts';

.currentRead {
    display: flex;

    .image {
        position: relative;
        margin-right: (gutters.$gutter * 2);
        filter: drop-shadow(0px 4px 16px rgba(62, 62, 62, 0.05));
        border-radius: 4px;
        overflow: hidden;
        font-size: 0;
        flex: 1 0 auto;

        img {
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 auto;
    }

    .author {
        color: colors.$color-primary-500;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: fonts.$font-headline;
        letter-spacing: 0.04em;
        margin: 0 0 12px;
    }

    .title {
        font-family: fonts.$font-headline;
        color: colors.$color-primary;
        font-size: 18px;
        line-height: 1.2;
        margin: 0 0 gutters.$gutter-medium;
    }
}
