@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';
@use '../../styles/settings/fonts';

.contactForm {
    background: colors.$color-white;
    box-shadow: 0px 8px 48px rgba(20, 165, 255, 0.11);
    border-radius: 8px;
    padding: gutters.$gutter-big;
    max-width: 920px;
    margin: 0 auto gutters.$gutter-bigger;

    .formTitle {
        font-family: fonts.$font-headline;
        font-weight: 400;
        text-align: center;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -0.01em;
        color: colors.$color-primary;
        margin: 0 0 gutters.$gutter-small;
    }

    .formText {
        margin: 0 0 gutters.$gutter-big;
        font-size: 16px;
        font-weight: 400;
        color: colors.$color-primary;
        text-align: center;
        letter-spacing: -0.01em;
    }

    [class*="InputWrapper"] {
        display: flex;

        label {
            flex: 0 0 30%;
            text-align: right;
            padding-right: gutters.$gutter-medium;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    button {
        margin-left: 30%;
    }
}