@use '../../styles/settings/gutters';

.contactForm {
    [class*="InputWrapper"] {
        display: flex;

        label {
            flex: 0 0 30%;
            text-align: right;
            padding-right: gutters.$gutter-medium;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}