@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';
@use '../../styles/settings/fonts';
@use '../../styles/settings/media';

$left-col-width: 25%;

.contactForm {
    background: colors.$color-white;
    box-shadow: 0px 8px 48px rgba(20, 165, 255, 0.11);
    border-radius: 8px;
    padding: gutters.$gutter-medium gutters.$gutter;
    max-width: 920px;
    margin: 0 auto gutters.$gutter-bigger;

    @include media.bp(sm) {
        padding: gutters.$gutter-big;
    }

    .formTitle {
        font-family: fonts.$font-headline;
        text-align: center;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -0.01em;
        color: colors.$color-primary;
        margin: 0 0 gutters.$gutter-small;
    }

    .formText {
        margin: 0 0 gutters.$gutter-big;
        font-size: 16px;
        font-weight: 400;
        color: colors.$color-primary;
        text-align: center;
        letter-spacing: -0.01em;
    }

    [class*="InputWrapper"] {
        display: flex;
        flex-direction: column;

        @include media.bp(lg) {
            flex-direction: row;
        }

        &::before {
            left: 12px;
            top: 34px;

            @include media.bp(lg) {
                left: calc($left-col-width + 12px);
                top: 0;
            }
        }

        input {
            max-width: 100%;

            @include media.bp(lg) {
                max-width: 400px;
            }
        }

        label {
            flex: 0 0 $left-col-width;
            padding-right: gutters.$gutter-medium;
            display: flex;
            font-size: 16px;
            color: colors.$color-primary;
            line-height: 1.25;
            font-weight: 400;
            letter-spacing: -0.01em;
            margin-bottom: gutters.$gutter;

            @include media.bp(lg) {
                align-items: center;
                justify-content: flex-end;
                text-align: right;
                margin-bottom: 0;
            }
        }

        [class*="MessageWrapper"] {
            margin-left: 0;

            @include media.bp(lg) {
                margin-left: $left-col-width;
            }
        }
    }

    button {
        margin-left: 0;

        @include media.bp(lg) {
            margin-left: $left-col-width;
        }
    }

    .successIcon {
        font-size: 90px;
        line-height: 1;
        margin-top: gutters.$gutter-medium;
    }

    .successContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .successTitle {
        font-family: fonts.$font-headline;
        color: colors.$color-primary;
        font-size: 40px;
        text-align: center;
        margin: gutters.$gutter-big 0 gutters.$gutter;
        line-height: 1.2;
        letter-spacing: -0.01em;
    }

    .successText {
        text-align: center;
        margin: 0 auto gutters.$gutter-big;
        max-width: 730px;
        color: colors.$color-primary;
        line-height: 1.4;
        font-size: 16px;
        letter-spacing: -0.01em;
    }

    .mailToSection {
        text-align: center;
        position: relative;
        padding-top: gutters.$gutter-bigger;

        &::before {
            content: "";
            display: block;
            max-width: 587px;
            width: 100%;
            background-color: colors.$color-primary-700;
            height: 1px;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        h2 {
            margin: gutters.$gutter-big 0 gutters.$gutter-small;
            font-family: fonts.$font-headline;
            font-size: 24px;
            line-height: 1.25;
            letter-spacing: -0.01em;
            color: colors.$color-primary;
        }

        p {
            margin: 0 0 gutters.$gutter-medium;
            color: colors.$color-primary;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: -0.01em;
        }
    }
}