@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';
@use '../../styles/settings/fonts';
@use '../../styles/settings/media';
@use "sass:math";

.recommendedBook {
    border: 3px solid colors.$color-primary-100;
    border-radius: 8px;
    position: relative;
    margin-bottom: 40px;
    background: linear-gradient(-172deg, rgb(16, 86, 193) 0% 60%, rgb(0, 27, 133) 60%);

    @include media.bp(xs) {
        background: transparent;
    }

    &::before {
        background: linear-gradient(-172deg, rgb(16, 86, 193) 0% 60%, rgb(0, 27, 133) 60%);
        position: absolute;
        height: calc(100% + 6px);
        top: -3px;
        left: -3px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 96px;

        @include media.bp(xs) {
            content: "";
        }
    }

    &::after {
        background-image: url("../../public/icons/info.svg");
        width: 48px;
        height: 48px;
        display: block;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 22px;

        @include media.bp(xs) {
            content: "";
        }
    }

    .content {
        padding: gutters.$gutter-medium;
    
        @include media.bp(xs) {
            padding: gutters.$gutter-medium gutters.$gutter-medium gutters.$gutter-medium(gutters.$gutter-medium + gutters.$gutter-biggest);
        }
    }

    .sectionTitle {
        font-family: fonts.$font-headline;
        line-height: 1.25;
        font-size: 22px;
        letter-spacing: -0.01em;
        color: colors.$color-white;
        margin: 0 0 gutters.$gutter;

        @include media.bp(xs) {
            color: colors.$color-text;
        }
    }

    .bookWrapper {
        display: flex;
        flex-direction: column;

        @include media.bp(sm) {
            flex-direction: row;
        }
    }

    .bookImageWrapper {
        min-width: 106px;

        img {
            object-fit: cover;
        }
    }

    .bookInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0;
        margin-top: gutters.$gutter;
        flex: auto;

        @include media.bp(sm) {
            padding-left: (gutters.$gutter * 2);
            margin-top: 0;
        }

        @media (max-width: #{ map-get( media.$breakpoints, xs ) - 1px } ) {
            [class*="BuyBook_seller"] p {
                color: colors.$color-white;
                margin: 0 12px 0 0;
            }

            [class*="BuyBook_sellerLogo"] {
                background: colors.$color-white;
                padding: 4px;
                height: 33px;
            }
        }
    }

    .author {
        color: colors.$color-white;
        font-family: fonts.$font-headline;
        font-size: 12px;
        line-height: 1.3;
        margin: 0 0 gutters.$gutter-small;

        @include media.bp(xs) {
            color: colors.$color-primary-500;
        }
    }

    .title {
        font-family: fonts.$font-headline;
        font-size: 18px;
        margin: 0 0 gutters.$gutter;
        line-height: 1.2;
        letter-spacing: 0.04em;
        color: colors.$color-white;

        @include media.bp(xs) {
            color: colors.$color-primary;
        }
    }
}
