@use '../../styles/settings/gutters';
@use '../../styles/settings/media';
@use '../../styles/settings/colors';
@use '../../styles/settings/global';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 (gutters.$gutter-big + gutters.$gutter-small);
    padding-top: gutters.$gutter-medium;
}

.mainLogo {
    &.isMenuOpen {
        position: relative;
        filter: brightness(100);
        z-index: 2;

        @include media.bp(md) {
            position: initial;
            filter: none;
            z-index: initial;
        }
    }
}

.menuToggler {
    appearance: none;
    background-color: colors.$color-primary;
    -webkit-mask-image: url('../../public/icons/menu.svg');
    mask-image: url('../../public/icons/menu.svg');
    height: 14px;
    border: 0;
    width: 26px;

    &.isOpen {
        background-color: colors.$color-primary-100;
        z-index: 2;
        position: relative;
    }

    @include media.bp(md) {
        display: none;
    }
}

.langSwitcher {
    position: fixed;
    right: 0;
    top: 15%;
    z-index: 9;

    .langSwitcherButton {
        background-color: colors.$color-primary-900;
        border-top-left-radius: global.$border-radius;
        border-bottom-left-radius: global.$border-radius;
        padding: gutters.$gutter;
        font-weight: 700;
        color: colors.$color-white;
        transition: global.$timing-core;

        &:hover {
            background-color: colors.$color-primary-700;
            padding-right: gutters.$gutter * 2;
            transition: global.$timing-core;
        }
    }
}
