@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';
@use '../../styles/settings/media';

.footer {
  margin: gutters.$gutter-bigger 0 gutters.$gutter-biggest;

  .copy {
    align-items: center;
    border-top: 1px solid colors.$color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: gutters.$gutter-medium;

    @include media.bp(md) {
      flex-direction: initial;
    }
  }

  .copyInner {
    align-items: center;
    display: flex;
    margin-bottom: gutters.$gutter-big;
    flex-direction: column;
    text-align: center;
  
    @include media.bp(xs) {
      flex-direction: row;
      text-align: start;
    }

    @include media.bp(md) {
      margin-bottom: 0;
    }
  }

  .info {
    color: colors.$color-primary;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.02em;
    margin: 0 0 0 gutters.$gutter;
  }

  .footerMenu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footerMenuItem {
    color: colors.$color-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: -0.01em;
    text-decoration: underline;
    padding: 0 0 0 gutters.$gutter-medium;
  }
}
