@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';
@use '../../styles/settings/fonts';
@use '../../styles/settings/media';


.CourseMeta {
  background: #00125B;
  border-radius: 9px;
  padding: gutters.$gutter-medium gutters.$gutter gutters.$gutter-medium gutters.$gutter-medium;
  color: colors.$color-white;
}
