@use '../../styles/settings/colors';
@use '../../styles/settings/gutters';
@use '../../styles/settings/media';

.affiliateBox {
    display: flex;

    .seller {
        display: flex;
        align-items: center;
        margin-left: gutters.$gutter-medium;

        p {
            font-size: 14px;
            color: colors.$color-primary;
            margin: 0 gutters.$gutter-small 0 0;
            letter-spacing: -0.01em;
            line-height: 1.7;
        }
    }

    .sellerLogo {
        position: relative;
        flex: auto;
        height: 25px;

        img {
            object-fit: contain;
        }
    }
}   
