@use '../../styles/settings/fonts';
@use '../../styles/settings/gutters';
@use '../../styles/settings/colors';

.MyPodcastHeader {
  max-width: 750px;
  margin: 0 auto gutters.$gutter-big;
  width: 100%;

  .Top {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: gutters.$gutter-medium;
  }

  .CoverWrapper {
    font-size: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
  }

  .TopContent {
    margin-left: gutters.$gutter-medium;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .Title {
    font-size: 40px;
    line-height: 1.25;
    font-family: fonts.$font-headline;
    letter-spacing: -0.01em;
    color: colors.$color-primary;
    font-weight: 500;
    margin: 0 0 gutters.$gutter-medium;
  }

  .Authors {
    display: flex;
  }

  .Text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: colors.$color-text;
    margin: 0;
  }
}
