@use '../../styles/settings/colors';
@use '../../styles/settings/fonts';
@use '../../styles/settings/gutters';

.Player {
    position: relative;
    display: flex;
    width: 100%;

    .PlayerOuter {
        flex: 1 0 100%;
    }

    .InnerPlayer {
        margin-top: gutters.$gutter;
        position: relative;
    }

    .Wave {
        height: 65px;
        overflow: hidden;
        position: relative;
        background: linear-gradient(180deg, rgba(20, 165, 255, 0) 0%, #14A5FF 100%);
        background-repeat: no-repeat;
        background-position-y: 30px;

        &.WaveIsReady {
            &::before {
                display: block;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: colors.$color-white;
                height: 2px;
            }
    
            .BottomProgressBar {
                background: colors.$color-primary-500;
                width: 20%;
                z-index: 2;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                display: block;
    
                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 5px;
                    bottom: 0;
                    
                    opacity: 0.26;
                    z-index: -1;
                }
            }
        }
    }
}
