@use '../../styles/settings/gutters';
@use '../../styles/settings/fonts';
@use '../../styles/settings/colors';

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0 0 (gutters.$gutter * 2);
    padding: 0;

    .separator {
        margin-left: gutters.$gutter;
    }

    .item {
        font-family: fonts.$font-headline;
        color: colors.$color-primary;
        line-height: 1.33;
        font-size: 12px;
        margin: 0 gutters.$gutter 0 0;
        text-transform: uppercase;
    }
}