@use '../../styles/settings/gutters';
@use '../../styles/settings/fonts';
@use '../../styles/settings/colors';
@use '../../styles/settings/media';

.footerSocialMedia {
  display: flex;
  margin-bottom: gutters.$gutter-big;
  justify-content: space-between;
  flex-direction: column;

  @include media.bp(lg) {
    flex-direction: row;
  }

  .title {
    color: colors.$color-primary;
    font-family: fonts.$font-headline;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    margin-right: gutters.$gutter;
    max-width: 450px;
    
    flex: 1 0 auto;

    @include media.bp(lg) {
      max-width: 350px;
    }

    span {
      color: colors.$color-primary-500;
      background: -webkit-linear-gradient(180deg, #4098f6, #0040ef);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .socialMediaTiles {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @include media.bp(lg) {
      margin-right: -(gutters.$gutter);
    }
  }
}
